Garbage-Classification Dataset
dataset
Garbage-Classification Dataset.zip
# Ignore Keras / TensorFlow models
*.h5
*.keras
*.weights.h5

# Ignore checkpoints and models folders
checkpoints/
models/

# Ignore datasets
dataset/
data/
